h1 {
  color: red;
  font-size: 32px;
  font-weight: bold;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.log {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 10px;
  line-height: 1.5em;
}